@model IEnumerable<proyecto3trimestresena.Models.Constancia>
@{




    ViewBag.Title = "Constancia";
}


<h2>Constancia</h2>

<table class="table">
    <tr>
        <th>Fecha Compra</th>
        <th>Total Compra</th>
        <th>Nombre del producto</th>
        <th>Codigo Producto </th>
        <th>Cantidad</th>
    </tr>

    @foreach(var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.fechaCompra)</td>
        <td>@Html.DisplayFor(modelItem => item.totalCompra)</td>
        <td>@Html.DisplayFor(modelItem => item.nombreProducto)</td>
        <td>@Html.DisplayFor(modelItem => item.productoProducto_compra)</td>
        <td>@Html.DisplayFor(modelItem => item.cantidadProducto_compra)</td>





    </tr>
    }

</table>


@Html.ActionLink("Imprimir constancia", "PdfConstancia");
